<!-- 本の投稿 -->
<%= form_for(book) do |f| %>
	<div class="field row">
		<%= f.label :title %>
		<%= f.text_field :title, placeholder: "Write the title", class: "col-xs-12 book_title" , class: "form-control" %>
	</div>

	<div class="field row">
		<%= f.label :Opinion %>
		<%= f.text_area :body,placeholder:"Start reading \"Date\",End of reading \"Date\"", class: "col-xs-12 book_body",
		rows: 15, class: "form-control" %>
	</div>

	<div class="field row">
		<%= f.label :Image %>
		<%= f.attachment_field :image  %>
	</div>

	<div class="actions row">
		<%= f.submit class: "btn btn-primary col-xs-12" %>
	</div>
<% end %>